[submodule "api-interfaces"]
	path = api-interfaces
	url = https://github.com/hafriedlander/api-interfaces.git
[submodule "nonfree/ToMe"]
	path = nonfree/ToMe
	url = https://github.com/facebookresearch/ToMe.git
[submodule "gyre/src/k-diffusion"]
	path = gyre/src/k-diffusion
	url = https://github.com/crowsonkb/k-diffusion.git
[submodule "gyre/src/ResizeRight"]
	path = gyre/src/ResizeRight
	url = https://github.com/assafshocher/ResizeRight.git
	ignore = dirty
[submodule "gyre/src/lora"]
	path = gyre/src/lora
	url = https://github.com/cloneofsimo/lora.git
[submodule "gyre/src/midas"]
	path = gyre/src/midas
	url = https://github.com/hafriedlander/MiDaS.git
	
[submodule "gyre/src/picklemagic"]
	path = gyre/src/picklemagic
	url = https://github.com/CensoredUsername/picklemagic
[submodule "gyre/src/mmsegmentation"]
	path = gyre/src/mmsegmentation
	url = https://github.com/open-mmlab/mmsegmentation.git
[submodule "gyre/src/mmpose"]
	path = gyre/src/mmpose
	url = https://github.com/open-mmlab/mmpose.git
[submodule "gyre/src/mmdetection"]
	path = gyre/src/mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
[submodule "gyre/src/xtcocoapi"]
	path = gyre/src/xtcocoapi
	url = https://github.com/jin-s13/xtcocoapi.git
[submodule "gyre/src/BasicSR"]
	path = gyre/src/BasicSR
	url = https://github.com/XPixelGroup/BasicSR.git
[submodule "gyre/src/ZoeDepth"]
	path = gyre/src/ZoeDepth
	url = https://github.com/isl-org/ZoeDepth.git
